<div class="text-center">
    <h1 class="text-danger">Odmowa Dostępu</h1>
    <h6 class="text-danger">Nie posiadasz uprawnień do wyświetlenia tej zawartości</h6>
    <img src="~/Images/accesDenied.png" style="height:300px; width:300px" />
</div>