@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  TransportApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #8fc7f2;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-car fa-lg"></i> TransportApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" style="cursor: pointer;">
                                        <i class="fas fa-home"></i> Dodaj Ogłoszenie
                                    </a>
                                    <div class="dropdown-content">
                                        <a asp-controller="AdvertManager"
                                           asp-action="UserAdverts">Moje Ogłoszenia</a>
                                        <div class="dropdown-divider"></div>
                                        <a asp-controller="AdvertManager"
                                           asp-action="AddRequestAdvert">Nowa Prośba</a>
                                        <a class="dropdown-item" asp-controller="AdvertManager"
                                           asp-action="AddPassageAdvert">Nowa Oferta</a>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" style="cursor: pointer;">
                                        <i class="fas fa-edit"></i> Zarządzaj
                                    </a>
                                    <div class="dropdown-content">
                                        <a asp-controller="Administration"
                                           asp-action="ListUsers">Użytkownicy</a>
                                        <a class="dropdown-item" asp-controller="Administration"
                                           asp-action="ListRoles">Role</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="account" asp-action="logout">
                                    <button type="submit" style="width:auto" class="nav-link btn btn-link py-0 text-white">
                                        <i class="fas fa-sign-out-alt"></i> Wyloguj @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="account" asp-action="register">
                                    <i class="fas fa-user-plus"></i> Rejestracja
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="account" asp-action="login">
                                    <i class="fas fa-sign-in-alt"></i> Logowanie
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #e8f2f8">
        <div class="container">
            &copy; 2019 - TransportServicesApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
                    console.log(e.relatedTarget);
                    if (e.relatedTarget) {
                        $(e.relatedTarget).removeClass('active');
                    }
                });
            });
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
